* {
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #eee;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    background-color: #E3B261;
    padding: 1em;
    margin-bottom: 0.5em;
}

.recipes {
    padding-top: 1em;
}

a {
    display: block;
    padding: 1em;
    text-decoration: none;
}

a:hover {
    background-color: #777;
}